*{
color: rgb(5, 3, 3);
background-color: rgb(4, 91, 120);
font-family: Georgia, 'Times New Roman', Times, serif;
}

#cityInput, #cityName, #inputContainer,button{
margin: 5px;
padding: 5px;
font-size: 20px;
font-weight: bold;
}


#weatherContainer{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    height: 300px;
    width: 12500px;

}

#iconContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50,-50%);

}

.icons{
    display: inline-block;
    
    height: 200px;
    width: 180px;
    margin: 15px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;

}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    
}

.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
